<section class="main">
  <header class="admin-header">
    <nav>
      <span class="menu-icon" (click)="toggleDropdown()">
        <span class="material-symbols-outlined">
          menu
        </span> Admin Dashboard
      </span>
      <div id="dropdown" class="dropdown-content" [class.show]="dropdownVisible">
        <a (click)="toggleManagePackages()">Manage Packages</a>
        <!-- <a (click)="showAddHotelForm()">Add New Hotel</a> -->
        <a [routerLink]="['/manage-users']">Manage Users</a>
      </div>
    </nav>
  </header>

  <section class="manage-packages" id="manage-packages">
    <h2 class="heading"><span>Manage Packages</span></h2>

    <div class="crud-container" id="add-package-form-container" *ngIf="showPackageForm">
      <div class="close-icon" (click)="closeForm()">X</div>
      <form (ngSubmit)="addTour()">
        <h3>Add New Package</h3>
        <!-- <input type="url" [(ngModel)]="tour.tour_imageUrl" name="image" placeholder="Image URL"> -->
        <input type="text" [(ngModel)]="tour.tour_Name" name="name" placeholder="Package Name">
        <input type="text" [(ngModel)]="tour.tour_Destination" name="destination" placeholder="Destination">
        <input type="text" [(ngModel)]="tour.tour_Description" name="description" placeholder="Description">
        <input type="number" [(ngModel)]="tour.tour_Price" name="price" placeholder="Price">
        <button type="submit" class="btn">Add Package</button>
      </form>
    </div>

    <div id="package-list">
      <div *ngFor="let tour of tours" class="tour-item">
        <!-- <img [src]="tour.t_imageUrl" alt="{{tour.t_imageUrl}}"> -->
        <h3>{{tour.tour_Name}}</h3>
        <p>{{tour.tour_Destination}}</p>
        <p>{{tour.tour_Description}}</p>
        <p>${{tour.tour_Price}}</p>
        <button (click)="deleteTour(tour.id)">Delete</button>
      </div>
    </div>
  </section>
</section>
