<div class="container">
  <div>
    <!-- Sign Up Form -->
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSubmit" [formGroup]="signUpForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username">
        <div *ngIf="signUpForm.get('username')?.touched && signUpForm.get('username')?.invalid">
          <small *ngIf="signUpForm.get('username')?.errors?.['required']">Name is required</small>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid">
          <small *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required</small>
          <small *ngIf="signUpForm.get('email')?.errors?.['email']">Email is invalid</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid">
          <small *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required</small>
          <small *ngIf="signUpForm.get('password')?.errors?.['minlength']">Password must be at least 8
            characters</small>
          <small *ngIf="signUpForm.get('password')?.errors?.['pattern']">Password must contain: 1 uppercase letter, 1
            lowercase letter, 1 number</small>
        </div>
      </div>
      <button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
    </form>
  </div>
</div>